.themeChooser{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    &__option{
        display: flex;
        flex-direction: column;
        padding: 0 10px;

    }
}